<%= form_for(@labor_line_item) do |f| %>
  <% if @labor_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@labor_line_item.errors.count, "error") %> prohibited this labor_line_item from being saved:</h2>

      <ul>
      <% @labor_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :labor_id %><br>
    <%= f.text_field :labor_id %>
  </div>
  <div class="field">
    <%= f.label :labor_cart_id %><br>
    <%= f.text_field :labor_cart_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
