<%= form_for(@material_line_item) do |f| %>
  <% if @material_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material_line_item.errors.count, "error") %> prohibited this material_line_item from being saved:</h2>

      <ul>
      <% @material_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :material_id %><br>
    <%= f.text_field :material_id %>
  </div>
  <div class="field">
    <%= f.label :material_cart_id %><br>
    <%= f.text_field :material_cart_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
