<p id="notice"><%= notice %></p>

<p>
  <strong>Material:</strong>
  <%= @material_line_item.material %>
</p>

<p>
  <strong>Material cart:</strong>
  <%= @material_line_item.material_cart %>
</p>

<%= link_to 'Edit', edit_material_line_item_path(@material_line_item) %> |
<%= link_to 'Back', material_line_items_path %>
