<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<% @customer.contacts.each do |contact| %>
  <p><%= contact.name %>, <%= contact.telephone %>, <%= contact.email %></p>
<% end %>

<%= form_for :contact, method: :get, url: new_contact_path do |f| %>
  <p>
    <%= hidden_field_tag 'customer_id', @customer.id %>
    <%= hidden_field_tag :id, '' %>
    <%= f.submit 'Add Contact' %>
  </p>
<% end %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
