<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field" id="new_order_vitals">
    <%= f.label :customer %>
    <%= f.hidden_field :customer_id %>
    <%= f.autocomplete_field :customer, autocomplete_customer_name_suggestions_path, :id_element => '#order_customer_id', size: 40 %><br />

    <%= f.label :completion_date %>
    <%= f.text_field :completion_date, :value => date_mdY(@order.completion_date), :class => 'datepicker', style: "text-align: right" %><br />

    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field" id="new_description">
    <%= f.label :description %>
    <br>
    <%= f.text_area :description, cols: 60, rows: 10 %>
  </div>

  <p class="clearboth"></p>

  <div id="materials_and_vendors">
    <%= render :partial => "materials", :locals => {:f => f} %>
    <%= render :partial => "vendors", :locals => {:f => f} %>
  </div>
  <div id="labor_and_equipmentals">
    <%= render :partial => "labors", :locals => {:f => f} %>
    <%= render :partial => "equipmentals", :locals => {:f => f} %>
  </div>

  <p class="clearboth"></p>

  <div class="field">
    <%= f.label :incidentals %>
    <%= f.text_field :incidentals, data: {autonumeric: {aSign: '$', mDec: 2}}, class: 'donuts', style: "text-align: right" %>
  </div>

  <div id="order_submit">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
