<h1 class="centerme">Orders</h1>
<%= will_paginate %>

<table id="order_index">
  <thead>
    <tr>
      <th id="numby">Number</th>
      <th id="customer">Customer</th>
      <th id="description">Description</th>
      <th id="quants">Qty</th>
      <th id="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr class="expander <%= cycle 'odd', 'even' %>">
        <td id="numby"><%= generate_order_number_with_links(order) %></td>
        <td id="customer"><%= link_to order.customer.name, order.customer %></td>
        <td id="description"><%= order.description %></td>
        <td id="quants"><%= order.quantity %></td>
        <td id="actions"><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<%= will_paginate %>
<% reset_cycle %>
<br>
<%= link_to 'New Order', new_order_path %>

<p>&nbsp;<br />&nbsp;</p>

<%= link_to 'Home', root_url %>
