<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Work order</th>
      <th>Invoice</th>
      <th>Description</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.quote_id %></td>
        <td><%= order.work_order_id %></td>
        <td><%= order.invoice_id %></td>
        <td><%= order.description %></td>
        <td><%= order.quantity %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
