<p id="notice"><%= notice %></p>

<p>
  <strong>Order #:</strong>
  <%= @order.order_number %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>


  <%= render 'show_materials' %>

  <%= render 'show_labors' %>

<fieldset>
  <legend>Equipment</legend>
  <%= render 'show_equipmentals' %>
</fieldset>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
