<p id="notice"><%= notice %></p>
<div id="ordervitals">
  <div>
    <strong>Order #:</strong>
    <%= @order.order_number %>
    <% if @order.work_order.nil? %>
      <% @work_order = WorkOrder.new %>
      <%= form_for(@work_order, html: { class: "inline_form" }) do |f|  %>
        <%= f.hidden_field(:order_id, value: @order.id) %>
        <%= f.submit 'Create Work Order' %>
      <% end %>
    <% end %>
  </div>

  <strong>Customer:</strong>
  <%= link_to @order.customer.name, @order.customer %>
</div>

<div id="orderdates">
    <strong>Date In:</strong>
    <%= date_mdY(@order.created_at) %><br />
    <strong>Estimated Completion:</strong>
    <%= date_mdY(@order.completion_date) %>
</div>
<p class="clearboth"></p>

<div id="fulldescription">
  <strong>Quantity:</strong>
  <%= @order.quantity %>
    <strong>Description:</strong>
    <%= @order.description %>
</div>

<div id="order_drop_downs">
  <div id="materialsvendors">
    <%= render 'show_materials' %>

    <%= render 'show_vendors' %>
  </div>

  <div id="laborequipmentals">
    <%= render 'show_labors' %>
    <%= render 'show_equipmentals' %>
  </div>
</div>
<p class="clearboth"></p>
<div id="costsummary">
  <%= render 'costsummary' %>
</div>
<p class="clearboth"></p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
