<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @vendor.quantity %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @vendor.cost %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
