<div id="wo_show_vendors">
  <fieldset>
    <legend>Vendors</legend>

    <table id="wo_vendors_show">
      <thead>
      <tr>
        <th id="number">No.</th>
        <th id="quantity">Qty</th>
        <th id="description">Description</th>
        <th id="cost">Cost</th>
        <th id="total">Total</th>
      </tr>
      </thead>
      <tbody class="items">
      <% @work_order.wo_vendors.each_with_index do |vendor, index| %>

        <tr class="<%= cycle("odd", "even") %>">
          <td id="number"><%= index + 1 %></td>
          <td id="quantity"><%= vendor.quantity %>
          <td id="description"><%= vendor.description %></td>
          <td id="cost"><%= vendor.cost %></td>
          <td id="total"><%= number_to_currency(vendor.total_cost) %></td>
        </tr>
        <% @vendors_subtotal += vendor.total_cost %>
      <% end %>
      <% reset_cycle %>
      <% if @vendors_subtotal != 0.00 %>
        <tr>
          <td colspan="4">&nbsp;</td>
          <td id="subtotal"><%= number_to_currency(@vendors_subtotal.round(2)) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </fieldset>
</div>