<h1>Listing work_orders</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Description</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_orders.each do |work_order| %>
      <tr>
        <td><%= work_order.order.order_number %></td>
        <td><%= work_order.description %></td>
        <td><%= work_order.quantity %></td>
        <td><%= link_to 'Show', work_order %></td>
        <td><%= link_to 'Edit', edit_work_order_path(work_order) %></td>
        <td><%= link_to 'Destroy', work_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work order', new_work_order_path %>
<p>&nbsp;<br />&nbsp;</p>

<%= link_to 'Home', root_url %>