<h1 class="centerme">Work Orders</h1>

<table id="work_order_index">
  <thead>
    <tr>
      <th id="numby">Number</th>
      <th id="customer">Customer</th>
      <th id="description">Description</th>
      <th id="quants">Qty</th>
      <th id="actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_orders.each do |work_order| %>
    <tr class="expander <%= cycle 'odd', 'even' %>">
        <td id="numby"><%= generate_order_number_with_links(work_order.order) %></td>
        <td id="customer"><%= link_to work_order.order.customer.name, work_order.order.customer %></td>
        <td id="description"><%= work_order.description %></td>
        <td id="quants"><%= work_order.quantity %></td>
        <td id="actions"><%= link_to 'Delete', work_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>&nbsp;<br />&nbsp;</p>

<%= link_to 'Home', root_url %>