<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @work_order.order.order_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work_order.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @work_order.quantity %>
</p>

<%= link_to 'Edit', edit_work_order_path(@work_order) %> |
<%= link_to 'Back', work_orders_path %>
