<%= form_for(@equipmental_line_item) do |f| %>
  <% if @equipmental_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipmental_line_item.errors.count, "error") %> prohibited this equipmental_line_item from being saved:</h2>

      <ul>
      <% @equipmental_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :equipmental_id %><br>
    <%= f.text_field :equipmental_id %>
  </div>
  <div class="field">
    <%= f.label :equipmental_cart_id %><br>
    <%= f.text_field :equipmental_cart_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
